@font-face {
    font-family: "Patrick";
    src: url('../fonts/Death Star.otf');
  }
body{
    background-image: url("../img/mosaico-white.jpg");
    overflow-x: hidden;
}
#lenguajes figure img {
    zoom: 1.3;
    margin: 2px;
}
ul{
    padding: 0;
}
ol > li{
    margin-bottom: 30px;
}
label{
    width: 100%;
}
nav li a, h2 a {
    text-decoration: none;
    color: inherit;
}
nav li a:hover, nav h2 a:hover{
    color: grey;
}
.portafolio #portada img{
    filter: brightness(0.75);
}
#carrousel{
    margin-left: -12px;
    margin-right: -13px;
}
.portafolio #portada img{
    object-fit: cover;
    object-position: center 0px;
}
.blog #portada{
    background-image: url("../img/bg-blog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2.5px) saturate(0.4) brightness(0.5);
}
.titulo{
    position: absolute;
    color: white;
    top: 50%;
    text-align: center;
    letter-spacing: 5px;
    left: 10px;
    right: 10px;
}
.titulo p{
    text-transform: uppercase;
}
.titulo button{
    margin-top: 30px;
}
#personal img {
    width: 160px;
    border-radius: 50%;
    height: 160px;
}
#personal{
    box-shadow: 0px 4px 11px 0px rgba(232,232,232,0.75);
    border-radius: 5px;
    background-color: white;
    padding: 50px;
}
#personal .social {
    gap: 8px;
}
footer .social {
    gap: 16px;
}
.social a > *{
    color: #666 !important;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    align-items: center;
}
.row{
    padding: 10px;
}
nav {
    height: 52px;
    background: transparent;
    position: fixed;
    top: 0;
    color: darkgray;
    z-index: 2;
    font-weight: bold;
    padding-right: 0 !important;
    padding-left: 10px !important;
}
nav ul{
    width: 100%;
    padding: 0;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 3px;
    margin-right: 7px;
    margin-top: 10px;    
}
nav ul li:hover{
    color: grey;
    cursor: pointer;
}
nav h2{
    font-family: 'Patrick', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 13px;
    font-size: 22px;
}
#resena p{
    font-style: italic;
    text-align: justify;
}
#lenguajes{
    background-color: #002b36;
    color: white;
    text-align: center;
}
#lenguajes li {
    list-style: none;
    font-size: 20px;
    padding: 5px;
}
#lenguajes ul{
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    max-width: 600px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
#habilidades img{
    max-width: 250px;
    margin-bottom: 30px;
}
#habilidades ol{
    text-align: justify;
    padding: 0;
    padding-left: 10px;
}
#habilidades i{
    width: 100%;
    display: inline-block;
}
#contact{
    background-color: #232937;
    color: white;
}
#contact form{
    max-width: 500px;
}
#contact textarea{
    min-height: 100px;
    max-height: 250px;
}
.social a{
    font-size: xx-large;
    display: inline-block;
}
.social a:hover i{
    font-size: 42px;
}
footer{
    background-color: black;
}
footer img{
    max-width: 800px;
    width: 100%;
}
footer h2{
    font-family: 'Patrick', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 33px;
    padding: 0;
    margin: 0;
    letter-spacing: 6px;
}
footer i{
    font-size: larger;
}
#lenguajes{
    background-image: url("../img/mosaico-green.jpg");
    background-repeat: repeat;
}
#habilidades{
    background-image: url("../img/mosaico-white.jpg");
    background-repeat: repeat;
}
#contact{
    background-image: url("../img/mosaico-gris.jpg");
    background-repeat: repeat;
}
.fecha{
    font-weight: 500;
    margin-top: -10px;
    color: mediumvioletred;
}
#personal .fas{
    color: grey;
}
#personal .fas:nth-child(2){
    position: relative;
    bottom: -7px;
}
.accordion-item,
.accordion-item:first-of-type
{
    border: 0;
    background-color: transparent;
}
.accordion-button{
    background-color: transparent;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid dimgray;
    border-top-left-radius: calc(.4rem - 1px) !important;
    border-top-right-radius: calc(.4rem - 1px) !important;
}
.accordion-button:not(.collapsed) {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    background-color: whitesmoke;
}



@media (min-width: 340px){
    nav h2{
        top: 11px;
        font-size: 25px;
    }
}
@media (min-width: 768px){
    #habilidades .info{
        display: initial !important;
        opacity: 1 !important;
    }
    #habilidades button{
        display: none;
    }
}
@media (max-width: 768px){
    #personal{
        max-width: 500px;
        margin:auto;
    }
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }